@model BlogMvcApp.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="icon" href="~/Content/img/website-logo.png" type="image/gif" sizes="30x30">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">

    <title>Erdogan Yildiz</title>



</head>



<body>

    <div class="container-fluid" id="header">

        <body id="page-top">
            <!-- Navigation -->



            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#"><img src="../Content/img/logo.png"></a>-->

                    <a class="navbar-brand" href="/Blog/Index" style="color:green;   font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'green'">Blog</a>
                    <a class="navbar-brand" href="/Category/Index" style="margin-left:15px; font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'black'">Go Back</a>



                    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">

                        <ul class="navbar-nav"></ul>
                    </div>
                </div>
            </nav>


            <div style="text-align:center;">
                <div style="display: inline-block; ">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <br />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">

                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KategoriAdi, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5em; width:100%;" } })
                                    @Html.ValidationMessageFor(model => model.KategoriAdi, "", new { @class = "text-danger" })
                                </div>
                                <br />
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KategoriAdiTr, new { htmlAttributes = new { @class = "form-control", @style = "font-size:1.5em; width:100%;" } })
                                    @Html.ValidationMessageFor(model => model.KategoriAdiTr, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" style="font-size:1.5em;" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <br />
            <br />
            <br />

        </body>
</html>
