@model IEnumerable<BlogMvcApp.Models.Blog>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}


@if (User.Identity.IsAuthenticated) // Admin View
{

    <!doctype html>
    <html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <!-- Fontawesome -->

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


        <!-- Smooth move -->
        <link rel="stylesheet" type="text/css" href="~/Content/BlogStyles/list2.css">

        <!-- -->
        <link rel="stylesheet" type="text/css" href="~/Content/styles.css">

        <title>Erdogan Yildiz</title>
        <link rel="icon" href="~/Content/img/website-logo.png" type="image/gif" sizes="30x30">
    </head>
    <body>



        <div class="container-fluid" id="header">

            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#"><img src="../Content/img/logo.png"></a>-->


                    <a class="navbar-brand" href="/Blog/Index" style="color:green;   font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'green'">Blog</a>
                    <a class="navbar-brand" href="/Home/Index" style="margin-left:15px; font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'black'">Home</a>



                    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index#about" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index#portfolio" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">Projects</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/Home/Index#contact" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/Account/Logout" style="color:red!important; font-size:1rem;">LogouT</a>
                            </li>

                            <li style="margin-left:2em;">
                                <a href="/Blog/Index"><img src="~/Content/img/en2.png" alt="Turkish"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>





            <!-- hero section -->
            <div class="container" id="hero">
                <div class="row justify-content-end">
                    <div class="col-lg-6 hero-img-container">
                        
                            <div class="hero-img">
                                <img src="../../Content/./img/author-img.jpg">
                            </div>
                        
                    </div>

                    <div class="col-lg-9">
                        <div class="hero-title">
                            <a>
                                <h1> Some humble doodles </h1>
                            </a>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <div class="hero-meta">
                            <p>My humble opinions about movies, series, books, science, lectures and life...</p>
                            <div class="author">
                                <div class="author-meta">

                                    <p>
                                        @Html.ActionLink("Create New Blog", "Create", null, new { @class = "btn btn-secondary btn-lg" })
                                        @Html.ActionLink("Categories", "Index", "Category", null, new { @class = "btn btn-secondary btn-lg" })
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero ends -->
        <!-- Article Grid -->
        <br />
        <div id="section">
            @{ Html.RenderAction("KategoriListesi", "Category");}
        </div>


        <div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
            <div class="row justify-content-center">


                @{string sourceText; int i = 1; string cont;}

                @foreach (var item in Model)

                {

                    <div class="col-xl-6 col-lg-12 text-center">
                        <a href="@Url.Action("Details", new { id = item.Id })">
                            <div class="article-card">
                                <div class="article-img">
                                    @{sourceText = "../../Content/Upload/" + item.Resim;}
                                    <img src=@sourceText>

                                </div>

                                <div class="article-meta text-left">
                                    @if (item.OnayAlani == false)
                                    {
                                        <h2 style="color:#2f1c1c47;">@item.Baslik</h2>

                                    }
                                    else
                                    { <h2 style="color:#000000;">@item.Baslik</h2>}

                                    @if (item.Aciklama != null)
                                    {
                                        if (item.Aciklama.Length >= 137)
                                        {

                                            cont = item.Aciklama.Substring(0, 137) + "...";

                                        }
                                        else
                                        {
                                            cont = item.Aciklama;
                                        }
                                    }
                                    else
                                    { cont = ""; }

                                    <p>@cont</p>

                                </div>

                            </div>

                        </a>

                    </div>
                }

            </div> <!-- Article Grid Row Ends -->
        </div> <!-- Article Grid Container Ends -->
        <!-- Footer section  -->

        <footer class="container-fluid mt-1 p-4">
            <div class="container ">
                <div class="row pb-1">
                    <!-- Footer logo -->
                    <div class="col-lg-3 col-md-12"></div>

                    <!-- footer links -->
                    <div class="col-lg-6 col-md-12">

                    </div>

                    <!-- footer social links -->
                    <div class="col-lg-3 col-md-12">
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link active btn btn-light" href="https://www.linkedin.com/in/yildize/"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active btn btn-light" href="https://www.facebook.com/edo.yldz"><i class="fab fa-facebook-f"></i></a>
                            </li>
                        </ul>

                    </div>

                    <hr>
                </div>
                <hr>

                <!-- copyright text -->
                <div class="row pt-2">
                    <div class="col-lg-12 text-center">
                        <span style="font-size:10px;">&copy <a href="https://newtodesign.com/">Newtodesign.com</a> All rights received.</span>
                    </div>
                </div>
            </div>
        </footer>



        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript">
        document.getElementById('@ViewBag.KatId').style.backgroundColor = "rgba(22, 245, 150, 0.35)";
        </script>
    </body>
</html>









}
else //User View
{

<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fontawesome -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <!-- Smooth move -->
    <link rel="stylesheet" type="text/css" href="~/Content/BlogStyles/list2.css">

    <!-- -->
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">

    <title>Erdogan Yildiz</title>
    <link rel="icon" href="~/Content/img/website-logo.png" type="image/gif" sizes="30x30">
</head>
<body>



    <div class="container-fluid" id="header">

        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--<a class="navbar-brand" href="#"><img src="../Content/img/logo.png"></a>-->


                <a class="navbar-brand" href="/Blog/Index" style="color:green;   font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'green'">Blog</a>
                <a class="navbar-brand" href="/Home/Index" style="margin-left:15px; font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1.75em; font-weight:700;" OnMouseOver="this.style.color =
 '#b7b4b4'" onMouseOut="this.style.color = 'black'">Home</a>



                <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#about" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#portfolio" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">Projects</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index#contact" style="font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 1rem; font-weight:700; padding-left:1.5rem; padding-right:1.5rem;" onmouseover="this.style.backgroundColor='#CCCCCC';" onmouseout="this.style.backgroundColor='#FCFAFA';">Contact</a>
                        </li>

                        <li style="margin-left:2em;">
                            <a href="/Blog/ListTr"><img src="~/Content/img/tr2.png" alt="Turkish"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>





        <!-- hero section -->
        <div class="container" id="hero">
            <div class="row justify-content-end">
                <div class="col-lg-6 hero-img-container">
                    
                        <div class="hero-img">
                            <img src="../../Content/./img/author-img.jpg">
                        </div>
                    
                </div>

                <div class="col-lg-9">
                    <div class="hero-title">
                        <a>
                            <h1> Some humble doodles </h1>
                        </a>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div class="hero-meta">
                        <p>My humble opinions about movies, series, books, science, lectures and life...</p>
                        <div class="author">
                            <div class="author-meta">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hero ends -->
    <!-- Article Grid -->
    <br />
    <div id="section">
        @{ Html.RenderAction("KategoriListesi", "Category");}
    </div>


    <div class="container mt-2 mb-2 pt-5 pb-5" id="article-grid">
        <div class="row justify-content-center">


            @{string sourceText; int i = 1; string cont;}

            @foreach (var item in Model)

            {
                if (item.OnayAlani == true) { 

                    <div class="col-xl-6 col-lg-12 text-center">
                        <a href="@Url.Action("Details", new { id = item.Id })">
                            <div class="article-card">
                                <div class="article-img">
                                    @{sourceText = "../../Content/Upload/" + item.Resim;}
                                    <img src=@sourceText>

                                </div>

                                <div class="article-meta text-left">
                                    @if (!String.IsNullOrEmpty(item.BaslikEn)) //İngilizce entry girilmiş ise.
                                    {

                                        <h2>@item.BaslikEn</h2>


                                        if (item.AciklamaEn != null)
                                        {
                                            if (item.AciklamaEn.Length >= 137)
                                            {

                                                cont = item.AciklamaEn.Substring(0, 137) + "...";

                                            }
                                            else
                                            {
                                                cont = item.AciklamaEn;
                                            }
                                        }
                                        else
                                        { cont = ""; }

                                        <p>@cont</p>

                                    }
                                    else //Yalnızca türkçe entry var ise
                                    {
                                        <h2>@item.Baslik</h2>


                                        if (item.Aciklama != null)
                                        {
                                            if (item.Aciklama.Length >= 137)
                                            {

                                                cont = item.Aciklama.Substring(0, 137) + "...";

                                            }
                                            else
                                            {
                                                cont = item.Aciklama;
                                            }
                                        }
                                        else
                                        { cont = ""; }

                                        <p>@cont</p>
                                    }

                                </div>

                            </div>

                        </a>

                    </div>
                                        }
             }

        </div> <!-- Article Grid Row Ends -->
    </div> <!-- Article Grid Container Ends -->
    <!-- Footer section  -->

    <footer class="container-fluid mt-1 p-4">
        <div class="container ">
            <div class="row pb-1">
                <!-- Footer logo -->
                <div class="col-lg-3 col-md-12"></div>

                <!-- footer links -->
                <div class="col-lg-6 col-md-12">

                </div>

                <!-- footer social links -->
                <div class="col-lg-3 col-md-12">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active btn btn-light" href="https://www.linkedin.com/in/yildize/"><i class="fab fa-linkedin"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active btn btn-light" href="https://www.facebook.com/edo.yldz"><i class="fab fa-facebook-f"></i></a>
                        </li>
                    </ul>

                </div>

                <hr>
            </div>
            <hr>

            <!-- copyright text -->
            <div class="row pt-2">
                <div class="col-lg-12 text-center">
                    <span style="font-size:10px;">&copy <a href="https://newtodesign.com/">Newtodesign.com</a> All rights received.</span>
                </div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById('@ViewBag.KatId').style.backgroundColor = "rgba(22, 245, 150, 0.35)";
    </script>
</body>
</html>









}



